<div class="row card-deck">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let task of employeeTasks">
        <div class="card text-center">
            <div class="card-header">
                <h4>{{task.employee.name}}</h4>
            </div>
            <div class="card-body">
                <a href="#"><img class="card-img-top" src={{task.employee.pictureUrl}} alt=""></a>
                <div class="row">
                    <div class="col-4 padding-0" *ngIf="!isEmployeeSelected(task.employee)">
                        <textarea rows="4" cols="15" type="number" min="0" class="form-control" [(ngModel)]=task.employee.activity></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 padding-0" *ngIf="!isEmployeeSelected(task.employee)">
                        <input type="number" min="0" class="form-control" [(ngModel)]=task.quantity>
                    </div>
                    <div class="col-4 padding-0" *ngIf="!isEmployeeSelected(task.employee)">
                        <button class="btn btn-primary" (click)="addToCart(task)"
                                [disabled]="task.quantity <= 0">Add Activity
                        </button>
                    </div>
                    <div class="col-12" *ngIf="isEmployeeSelected(task.employee)">
                        <button class="btn btn-primary btn-block"
                                (click)="removeFromCart(task)">Remove Activity
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
